li {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-style: italic;
}

.chores {
    color: rgb(136, 6, 6);
}

h3 {
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}